<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SPOTIFY_CLIENT_SECRET</key>
	<string>0ef8f7a4d85541499abae224ee9b9456</string>
	<key>SPOTIFY_CLIENT_ID</key>
	<string>2eb4e1c7d53c46f6bf423bbfd3b57314</string>
</dict>
</plist>
